@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	margin: 0px;
	padding: 0px;
}

/* header */
/*header #first_header {
	margin: 0px;
	padding: 0px;
}*/

#first_header{
	background-color: white;
/*	border: 1px solid blue;*/
	height: 30px;
	/*position: fixed;
	width: 100%;
	top: 50;
	left: 0;*/
	display: flex;
	justify-content: space-around;
}
#first_header p{
/*	display: inline-block;*/
}
#first_header .middle{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
#first_header .middle span{
	color: green;
}/*
#first_header .left{
	float: left;
	padding-left: 1rem;
}
#first_header .right{
	float: right;
	padding-right: 6rem;
}*/
#navbar{
	background-color: green;
	height: 50px;
	/*top: 60px;
	position: fixed;
	width: 100%;*/
	/*margin: 0px;
	padding: 0px;*/
}
#navbar ul{
	text-align: center;
}
#navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 15px;
/*	padding-left: 1rem;*/
}
#navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	margin-left: 1px;
	transition: transform 0.5s;
/*	margin-right: 10%;*/
}
#navbar ul li a:hover{
	border-bottom: 2px solid white;
	font-size: 20px;
	transform: scale(1.05);
}
/* end header */

#image_home{
	text-align: center;
	padding: 200px;
	background-image: url('images/ordi.jpg');
	background-attachment: fixed;
}
#image_home p{
	font-weight: bold;
	color: white;
	font-size: 2rem;
}
#image_home button{
	background-color: green;
	padding: 10px;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	border: none;
	transition: transform 0.5s;
	text-transform: capitalize;
}

#image_home button:hover{
	transform: scale(1.05);
}
/*Corps de la page */
.desc{
	grid-template-columns: 50% 50%;
	display: grid;
}
.picture{
	margin: 30px;
	padding: 40px;
	padding-right: 100px;
}

.description{
	margin: 30px;
	padding: 40px;
	padding-left: 100px;
	/*border: 2px solid blue;
	width: 40%;*/
}
.description h1{
	font-size: 2.3rem;
}
.description h1 span{
	color: green;
}
.description h1{
	height: 10px;
}
.description ul li{
	display: inline-block;
	margin: 10px;
}
.description ul li button{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	border: none;
	padding: 8px;
	transition: transform 0.5s;
	cursor: pointer;
}
.description ul li button:hover{
	transform: scale(1.05);
}
.description ul .learn_more button{
	background-color: green;
	border-radius: 5px;
}
.description ul .purchase_now button{
	background-color: gray;
	border-radius: 5px;
}

.services{
/*	border: 2px solid red;*/
	/*margin-left: 20%;
	margin-right: 20%;*/
/*	padding: 10%;*/
	padding-bottom: 20px;
}
.grid-container-services{
/*	border: 2px solid yellow;*/
	display: grid;
	grid-template-columns: 350px 350px 350px;
	/*grid-template-rows: 1fr 1fr 1fr;*/
	grid-gap: 20px;
	padding-left: 12%;
	padding-top: 20px;
	padding-bottom: 15px;
}
.grid-item{
	border: 2px solid black;
	text-align: center;
	padding: 20px;
	background-color: white;
	color: black;
}
.grid-item i{
	font-size: 30px;
	color: green;
}
.grid-item p{
	margin-top: -10px;
	padding-bottom: 15px;
}
.grid-item a{
	text-decoration: none;
	border: 1px solid green;
	border-radius: 5px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	width: 50px;
	height: 50px;
	background-color: gray;
	color: white;
}
.ressources{
/*	border: 2px solid blue;*/
	background-color: black;
}
.title{
/*	border-bottom: 2px solid green;*/
	/*margin-left: 42%;
	margin-right: 42%;*/
	color: white;
	text-align: center;
	text-transform: capitalize;
	padding-top: 50px;
}
.bottom{
	border-bottom: 2px solid green;
	margin-left: 47%;
	margin-right: 47%;
}
footer{
/*	background-color: black;*/
padding-bottom: 20px;
}
form .corps-form{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	position: relative;
	/*	border: 2px solid red;*/
	width: 42%;
	left: 35%;

}
form .corps-form .groupe{
	position: relative;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
form .corps-form .gauche .groupe input{
	margin-top: 5px;
	padding: 10px 5px 5px 30px;
	border: 2px solid #c9c9c9;
	border-radius: 5px;
	outline-color: green;
}
form .corps-form .gauche i{
	position: absolute;
	left: 0;
	top: 25px;
	padding: 9px 8px;
	color: green;
}

form .corps-form  .groupe label{
	text-transform: capitalize;
}
form .corps-form .droite{
	margin-left: 80px;
}
form .corps-form .droite .groupe {
	height: 100%;
}
form .corps-form .droite .groupe textarea{
	margin-top: 5px;
	padding: 10px;
	background-color: #f8f8f8;
	resize: none;
	outline-color: green;
	height: 77%;
}
form .pied-formulaire button{
	margin-top: 20px;
	background-color: green;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: transform 0.5s;
}
form .pied-formulaire button:hover{
	transform: scale(1.05);
}
.copyright{
	text-align: center;
}
.copyright p{
	margin-top: 40px;
	font-weight: bold;
	/*background-color: green;
	color: white;*/
}
.trait{
	border-bottom: 2px solid green;
	margin-left: 40%;
	margin-right: 40%;
}
/*.grid-container-services i{
	position: absolute;
	left: 0;
	right: 0;
	padding: 9px 8px;
	color: green;
}*/