body{
	margin: 0px;
	padding: 0px;
}

/* header */
/*header #first_header {
	margin: 0px;
	padding: 0px;
}*/
#first_header{
	background-color: white;
/*	border: 1px solid blue;*/
	height: 30px;
	display: flex;
	justify-content: space-around;
}
#first_header p{
/*	display: inline-block;*/
}
#first_header .middle{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
#first_header .middle span{
	color: green;
}/*
#first_header .left{
	float: left;
	padding-left: 1rem;
}
#first_header .right{
	float: right;
	padding-right: 6rem;
}*/
#navbar{
	background-color: green;
	height: 50px;
	margin: 0px;
	padding: 0px;
}
#navbar ul{
	text-align: center;
}
#navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 15px;
/*	padding-left: 1rem;*/
}
#navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	margin-left: 1px;
/*	margin-right: 10%;*/
}
#navbar ul li a:hover{
	border-bottom: 2px solid white;
}

/* end header */

#image_home{
	text-align: center;
	padding: 200px;
	background-image: url('images/ordi.jpg');
	background-attachment: fixed;
}
#image_home p{
	font-weight: bold;
	color: white;
	font-size: 2rem;
}
#image_home a{
	background-color: green;
	padding: 10px;
	text-decoration: none;
	color: white;
	border-radius: 20px;
}

/*Corps de la page */
.desc{
	grid-template-columns: 50% 50%;
	display: grid;
}
.picture{
	margin: 30px;
	padding: 40px;
	padding-right: 100px;
}

.description{
	margin: 30px;
	padding: 40px;
	padding-left: 100px;
	/*border: 2px solid blue;
	width: 40%;*/
}
.description h1{
	font-size: 2.3rem;
}
.description h1 span{
	color: green;
}
.description h1{
	height: 10px;
}
.description ul li{
	display: inline-block;
	padding: 8px;
	margin: 10px;
}
.description ul li a{
	text-decoration: none;
	color: white;
}
.description ul .learn_more{
	background-color: green;
	border-radius: 3px;
}
.description ul .purchase_now{
	background-color: gray;
	border-radius: 3px;
}

.services{
/*	border: 2px solid red;*/
	/*margin-left: 20%;
	margin-right: 20%;*/
/*	padding: 10%;*/
	padding-bottom: 20px;
}
.grid-container-services{
/*	border: 2px solid yellow;*/
	display: grid;
	grid-template-columns: 350px 350px 350px;
	/*grid-template-rows: 1fr 1fr 1fr;*/
	grid-gap: 20px;
	padding-left: 12%;
	padding-top: 20px;
	padding-bottom: 15px;
}
.grid-item{
	border: 2px solid black;
	text-align: center;
	padding: 20px;
	background-color: white;
	color: black;
}
.grid-item a{
	text-decoration: none;
	border: 1px solid green;
	border-radius: 5px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	width: 50px;
	height: 50px;
	background-color: gray;
	color: white;
}
.ressources{
/*	border: 2px solid blue;*/
	background-color: black;
}
.title{
/*	border-bottom: 2px solid green;*/
	/*margin-left: 42%;
	margin-right: 42%;*/
	color: white;
	text-align: center;
	text-transform: capitalize;
	padding-top: 50px;
}
.bottom{
	border-bottom: 2px solid green;
	margin-left: 47%;
	margin-right: 47%;
}